html,body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
}
  
.app-container {
  height: 100%;
  width: 100%;
  margin:0;
  display: grid;
  grid-template-columns: 220px 8fr;
  grid-template-rows: 40px 1fr;
  
}