@import 'chicago.css';


.navbar {
    background-color: #6200EE;
    height: 40px;
    width:100%;
    display:flex;
    justify-content: space-between;
    position:fixed; 
    z-index: 1; /*prevents sidebar from going over navbar*/
    grid-column: 1/3;
    grid-row: 1/2;
    color: #FFFFFF;
}
.menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
    margin-top: 5px;
}

.menu-profile {
    margin-top: 5px;
    margin-right: 1rem;
    font-size: 2rem;
    width:220px
    
}

.menu-profile-icon {
    text-align: right;
}

#search {
    width: 20vw;
}

.search{
    display: flex;
    padding: 5px;
}
.search input {
    color: black
}

.logo {
    font-family: ChigacoFLF, sans-serif;
    color: #26c7fe;
}

.home {
    width:220px;
}

.logoContainer {
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.home img {
    height: 35px;
    width: 35px;
}