.sidebar {
    background-color: #3700B3;
    grid-column: 1/2;
    grid-row: 2/3;
    position: fixed;
    height: 100vh;
    width: 220px;
    padding-top:40px;
    color: #FFFFFF;
}

/* .sidebar.active {
    left: 0;
    transition: 350ms;
} */
.sidebarItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    
}

.sidebarItem a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebarItem:hover {
    background-color: #1a83ff;
}

.live {
    color:red !important;
}