.sidebar {
    background-color: #060b26;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    float:left;
    left: -100%;
    transition: 850ms;
    margin-top: 18px;
}

.sidebar.active {
    left: 0;
    transition: 350ms;
}
.sidebarMenuItem {
    display:flex;
}