.sidebar {
    background-color: #060b26;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    float:left;
}

.sidebarMenuItem {
    display:flex;
}